
<footer class="footer fixed-bottom bg-primary">
  <div class="container text-center">
      <span class="text-white">
        Evan Luo © <%= new Date().getFullYear() %>
      </span>
  </div>
</footer>
</body>

</html>